# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
myenv/
.venv/

# Environment Variables
.env
.env.local

# IDEs
.vscode/
.idea/

# OS specific
.DS_Store
Thumbs.db

# Logs
*.log
